<h1>Thanks for checking out Backpack Bulletin Board</h1>

<p><em>We are travelers.  We love to explore new cities, and meet great people along the way to share amazing times with.  Wanted to create a place where other travelers could seamlessly connect.</p>
<p>BBB is the place to find others to grab dinner with or explore outside the city on a daytrip. It's also a place to discover what's going on inside and outside of your hostel.  You can even use it to explore the vibe of that place you're not sure of staying in, before you arrive.</p>
<p>We designed BBB for the users, the backpackers/travelers/whatever you want to call them.  This is your place to meet amazing people, and have the time of your life.  Please, let us know how we're doing, and enjoy every minute of your travels!!</p></em>

<div class = "row">
	<div class = "span4 offset1"><center>
		<img class = "img-circle" src = "http://www.varunbhartia.com/wp-content/uploads/2012/12/Varun-1-1.png" height ="100px" width = "150px">
		<p><h3>Varun</h3></p></center>
		<P><strong>Head Chatwalla</strong></P>
		<p>Varun's passions include ...the craziest place he's traveled is ...</p>
	</div>
	

<div class = "row">
	<div class = "span4 offset1"><center>
		<img class = "img-circle" src = "https://is0.4sqi.net/userpix_thumbs/WJVOIRT4MO30FCKZ.jpg" height = "150px" width = "150px">
		<p><h3>Phil</h3></p></center>
		<P><strong></strong></P>
		<p>Phil remembers the first time traveling alone...the fear, excitement, and eventually all the friends.  Despite the connections he was able to make in the common area of that hostel in Spain, he knew there was a better way</p>
	
	</div>
