
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/IMG_2013.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              
              <center> <p class="lead">Connect with other travelers in your area</p></center>
             
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/museum.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              

              <center> <p class="lead">Discover great local attractions</p></center>
              
            </div>
          </div>
        </div>
        <div class="item">
          <img src="assets/nice.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              
             <center> <p class="lead">Make the most of our travelers, with other great people!</p></center>
              
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
    </div>


<div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <h3><em>We are now live in Boston!</em></h3>
      
      <div class = "well">
      <div class="row">
        <div class="span3">
          <center><img class="img-circle" src="assets/connect.jpg" alt="140x140" style="width: 140px; height: 140px;"></center>
          <h3>Meet other travelers</h3>
          <p>Meet other travelers for group dinners, museum tours, day trips and pub crawls!</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span3 -->
        <div class="span3 offset1">
          <center><img class="img-circle" src="assets/nightlife.jpg" alt="140x140" style="width: 140px; height: 140px;"></center>
          <h3>Discover cool events</h3>
          <p>Find out what's going on today/tonight/next week in your current city.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span3 -->
        <div class="span3 offset1">
          <center><img class="img-circle" src="assets/commonroom.jpg" alt="140x140" style="width: 140px; height: 140px;"></center>
          <h3>Explore other hostels</h3>
          <p>Get a feel for the options and environemnt at a hostel, before you arrive.</p>
          <p><a class="btn" href="#">View details »</a></p>
        </div><!-- /.span3 -->
      </div><!-- /.row -->
	    </div> 


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2013 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>

        Merging from earlier branch

      </footer>

    </div>

