POST FEED!!
	
<br>



	<% @hostel.posts.each do |post| %>
		<!-- List individual Posts -->
		<div class="post_box padding">

			<table>
				<tr>
					<td>
						<h4>
							<%= post.user.firstname %> <%= post.user.lastname %>
						</h4>		
					</td>
				</tr>

				<tr>
					<td>
						<%= post.text %>	
					</td>
				</tr>
			</table>

		</div>





	<% end %>